.body {
  font-family: 'Poppins', sans-serif;
  margin: 2rem auto;
  max-width: 600px;
  color: dimgrey;
  font-size: x-large;
  line-height: 1.4;
}

.footer {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0 16px;
}

h1 {
  font-size: xx-large;
}

strong {
  color: #006666;
}

a {
  color: #00b3b3;
  text-decoration: none;
}

a:hover {
  color: #008080;
}

svg {
  fill: darkgrey
}

svg:hover {
  fill: dimgrey;
}